.user {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20pt;

    img {
        width: 100pt;
        height: 100%;
    }

    .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        h1 {
            width: 100%;
            text-align: right;
            span {
                font-size: 12pt;
            }
            font-size: 30pt;
        }

        h2 {
            font-size: 20pt;
        }
    }

}

.exchange-rates {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .card {
        padding: 20pt;
        width: auto;
        margin: 20pt;
        * {
            text-align: center;
        }
    }
}